// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    // background-color: #b0cdfc !important;
}

h3{
    color: #002c77 !important;

}

.hero-spacer {
    margin-top: 50px;
    color: #002c77 !important;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.searchbox{
	padding-top: .75em !important;
}

.brand{
	color: #d2e0f7;
	padding-bottom: .1em;
	margin-left: -.5em !important;
}

.logic{
	margin-top: 1.75em !important;
}